.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  background-color: burlywood;
}

.create-event-btn {
  padding: 0 16px;
  background-color: rgb(42, 173, 25);

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    background-color: rgb(42, 173, 25);
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    display: inline-block;
    height: 40px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(42, 173, 25);
  }
}
